<div class="container-fluid glass-dark mobile  printer">
<nav class="row">
<div class="col-10 p-3 border-bottom border-end">
<p class="mt-1">
<a href="{{page.url}}" class="navbar-brand">
{{metadata.nav_title}}
</a>
</p>
</div>
<div class="col-2 p-3 border-bottom">
<a href="#" class="btn btn-dark glass" accesskey="o" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
<title>Menu</title> <i class="bi bi-list"></i>
</a>
</div>
</nav>
</div>

<div class="offcanvas offcanvas-end glass-dark text-white" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title text-center ms-3" id="offcanvasExampleLabel">
{{metadata.nav_title}}
</h5>
<button type="button" class="btn-close text-white" 
data-bs-dismiss="offcanvas" aria-label="Close">X</button>
  </div>
  <div class="offcanvas-body">

<div class="col-8 mx-auto">
<form class="d-flex mt-1 p-3" role="search">
<input class="form-control me-2"  data-bs-toggle="modal" data-bs-target="#searchModal" type="search" placeholder="Search" aria-label="Search">
<button  data-bs-toggle="modal" data-bs-target="#searchModal" class="btn glass btn-dark" type="submit" accesskey="s">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
</svg>
</button>
</form>
</div>

<div class="row mt-3 text-center">
{% for n in metadata.navbar %}
<div class="col-12 p-3 ">
<a class="info" href="{{n.link}}" 
accesskey="{{n.key}}">{{n.nav}}</a>
</div>
{% endfor %}
{% for u in metadata.navbar_dropdown %}
<div class="col-12 p-3 ">
<a class="info" href="{{u.link}}" 
accesskey="{{u.key}}">{{u.nav}}</a>
</div>
{% endfor %}

</div>

</div>

<div class="offcanvas-footer">
<div class="row mt-5 p-3 justify-content-center">{% for s in metadata.social %}
<a rel="me" href="{{s.link}}" title="{{s.nav}}" 
class="btn btn-outline-light navis p-3 border col-2" accesskey="{{s.key}}">
<i class="bi bi-{{s.icon}}"></i>
</a>
{% endfor %}

</div>
</div>


</div>