{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<div class="p-3 col-md-9 mx-auto">
{%- if previousPost %}
<a href="{{ previousPost.url }}" class="row posts border-bottom border-top mb-3 mt-5">
<div class="col-12 p-3"></div>
{% if previousPost.data.image %}
<div class="col-md-3 mb-3"
style="
background-image: url('https://wsrv.nl/?url={{metadata.url}}{{ previousPost.data.image }}&w=300&output=webp');
background-position: center;
background-repeat: no-repeat;
background-size: cover; 
"></div>
<div class="col-md-7 p-1 ps-5 mb-3">
<p><small>
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
</svg>
Previous</small></p>
<h3>{{ previousPost.data.title }}</h3>
<p>{{ previousPost.data.description }}</p>
</div>
<div class="col-md-2 p-3 p-md-5 mt-5">
<p class="icones">
<svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-arrow-up-right-circle icons" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.854 10.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"/>
</svg>
</p>
</div>
<div class="col-12 p-3"></div>
{% else %}
<div class="col-md-10 p-1 ps-5 mb-3">
<p><small>
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
</svg>
Previous</small></p>
<h3>{{ previousPost.data.title }}</h3>
<p>{{ previousPost.data.description }}</p>
</div>
<div class="col-md-2 p-3 p-md-5 mt-5">
<p class="icones">
<svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-arrow-up-right-circle icons" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.854 10.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"/>
</svg>
</p>
</div>
<div class="col-12 p-3"></div>
</a>
{% endif %}
{% endif %}
{%- if nextPost %}
<a href="{{ nextPost.url }}" class="row posts border-bottom mb-3 mt-5">
{% if nextPost.data.image %}
<div class="col-md-3 mb-3"
style="
background-image: url('https://wsrv.nl/?url={{metadata.url}}{{ nextPost.data.image }}&w=300&output=webp');
background-position: center;
background-repeat: no-repeat;
background-size: cover; 
"></div>
<div class="col-md-7 p-1 ps-5 mb-3">
<p><small>
Next 
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
</svg>
</small></p>
<h3>{{ nextPost.data.title }}</h3>
<p>{{ nextPost.data.description }}</p>
</div>
<div class="col-md-2 p-3 p-md-5 mt-5">
<p class="icones">
<svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-arrow-up-right-circle icons" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.854 10.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"/>
</svg>
</p>
</div>
<div class="col-12 p-3"></div>
{% else %}
<div class="col-md-10 p-1 ps-5 mb-3">
<p><small>
Next 
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
</svg>
</small></p>
<h3>{{ nextPost.data.title }}</h3>
<p>{{ nextPost.data.description }}</p>
</div>
<div class="col-md-2 p-3 p-md-5 mt-5">
<p class="icones">
<svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-arrow-up-right-circle icons" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.854 10.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"/>
</svg>
</p>
</div>
<div class="col-12 p-3"></div>
</a>
{% endif %}
{% endif %}
</div>
{%- endif %}
{%- endif %}