<div class="container-fluid mts border-top">
<div class="row mt-5 mb-5 justify-content-center">
<div class="col-md-12 p-3">
<h3 class="ms-3 mt-5 small">Contact:</h3>
<h4 class=" mt-5 ms-3"><a href="mailto:{{contact}}" class="footer-link">{{contact}}</a></h4>
</div>
</div>
</div>