<div class="container-fluid mts border-top">
<div class="row mt-5 mb-5 justify-content-center">
<div class="col-md-12 p-3">
<h3 class="ms-3 small">{{findme.title}}</h3>
</div>
{% for s in findme.tech %}
<div class="col-md-2 p-3 col-4">
<div class="p-3 zoom">
<a href="{{s.link}}">
<img class="img-fluid" width="26" height="26" alt="{{s.title}} {{metadata.title}}" 
src="{{s.icon}}"/>
<a href="" class="posts info">
{{s.title}}
</a>
</div>
</div>
{% endfor %}
</div>
</div>