<div class="container-fluid mts border-top">
<div class="row mt-5 mb-5 justify-content-center">
<div class="col-md-12 p-3">
<h3 class="ms-3 small">{{folks.title}}</h3>
</div>
{% for f in folks.tech %}
<div class="col-md-2 p-3 col-6">
<div class="p-2 zoom">
<span class="posts">
<a href="{{f.link}}"><img class="img-fluid" alt="{{f.title}}" width="100%" height="100%" src="{{f.icon}}"/></a>
</span>
</div>
</div>
{% endfor %}
</div>
</div>
