<div class="container-fluid mts border-top">
<div class="row mt-5 mts">
<div class="col-md-8 mx-auto p-3 p-md-5">
<h2 class="tiles">{{form.title}}</h2>
<form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="{{metadata.formspree_id}}" method="post">
<div class="row">
<div class="mt-1 mb-1 col-md-6 p-3">  
<input class="form-control" type="text" id="full-name"  name="name" placeholder="Enter your name.." required>
</div>
<div class="mt-1 mb-1 col-md-6 p-3">
<input class="form-control" type="email" name="_replyto" id="email-address" placeholder="Email" required>
</div>
<textarea class="form-control mt-1 mb-1 col-md-12 p-3" id="message"  name="message" placeholder="Enter your message"></textarea>
<div class=" col-md-12 text-center p-3 mt-3">
<input type="submit" class="btn icones btn-outline-light btn-lg" value="{{form.button}}">
</div>
</div>
</form>
</div>
</div>