<div class="container-fluid mts">

<div class="row mt-5 mb-5 mts">
<div class="col-md-8 mx-auto p-3">
<h3 class="small">{{metadata.blog.title}}</h3>
{% for post in collections.posts | reverse | limit(3) -%}
<div class="p-3 p-md-5">
<a href="{{post.url}}" class="row posts zoom border-bottom mb-3">
<div class="col-md-10">
<time datetime="{{ post.date | htmlDateString }}"><small>{{ post.date | readableDate("LLLL yyyy") }}</small></time>
<h3 class="tiles">{{post.data.title}}</h3>
<p>{{post.data.description}}</p>
</div>
<div class="col-md-2 p-3 p-md-5">
<p class="icones">
<svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-arrow-up-right-circle icons" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.854 10.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"/>
</svg>
</p>
</div>
</a>
</div>
{% endfor %}

<div class="col-md-12 text-end p-3">
<a href="{{metadata.blog.link}}" class="text-white info tiles">{{metadata.blog.button}}</a>
</div>


</div>
</div>