<header class="container-fluid">
<div class="col-md-9 mx-auto p-3 mts">
<h1 class="header_title"><strong><a href="{{page.url}}">{{header}}</a></strong></h1>
<h2 class="lead mt-3">{{description}}</h2>
</div>
</header>
