<section class="cv-section">
<header class="cv-section-header">
<h2 class="cv-title-work"><span><strong>
{{cv.data.data.activities.title}}
</strong></span></h2>
</header>
<div class="cv-item">
{% for ac in collections.activitescv | reverse %}
<span class="cv-basic-info-item"><strong>{{ac.data.title}}</strong></span>
<div class="cv-item-content p-3 ms-5 lim">{{ ac.templateContent | safe }}</div>
{% endfor %}
</div>
</section>