<section class="cv-section">
<header class="cv-section-header">
<h2 class="cv-title-work"><span><strong>
{{cv.data.data.education.title}}
</strong></span></h2>
</header>
{% for d in collections.educv | reverse %}
<div class="cv-item">
<span class="cv-basic-info-item"><strong>{{d.data.title}}</strong></span>
<div class="cv-item-content p-3 ms-5">{{ d.templateContent | safe }}</div>
</div>
{% endfor %}
</section>