<section class="cv-section">
<header class="cv-section-header">
<h2 class="cv-title-work"><span><strong>
{{exams.title}}
</strong></span></h2>
</header>
<div class="cv-item">
{% for exs in exams.list %}
<span class="cv-basic-info-item"><strong>{{ exs.title | safe }}</strong></span>
<div class="cv-item-content p-3 ms-5 lim"><ul><li>{{ exs.text | safe }}</li></ul></div>
{% endfor %}
</div>
</section>