<!-- 
<section class="cv-section">
<header class="cv-section-header">
<h2 class="cv-title-work"><span><strong>
{{cv.data.data.skills.title}}
</strong></span></h2>
</header>
<div class="cv-item">
{% for t in cv.data.data.skills.text %}
<div class="cv-item-content p-3 ms-5"><ul><li>{{ t | safe }}</li></ul></div>
{% endfor %}
</div>
</section>

<section class="cv-section">
<header class="cv-section-header">
<h2 class="cv-title-work"><span><strong>
{{cv.data.data.exams.title}}
</strong></span></h2>
</header>
<div class="cv-item">
{{cv.data.data.exams.text}}
{% for t in cv.data.data.exams.list %}
<div class="cv-item-content p-3 ms-5"><ul><li><span class="cv-basic-info-item"><strong>{{ t.title }}</strong></span>{{ t.text | safe }}</li></ul></div>
{% endfor %}
</div>
</section>
-->