<section class="cv-section">
<header class="cv-section-header">
<h2 class="cv-title-work"><span><strong>
{{languages.title}}
</strong></span></h2>
</header>
<div class="cv-item">
<span class="cv-basic-info-item"><strong>{{languages.title}}</strong></span>
{% for lgs in languages.text %}
<div class="cv-item-content p-1 ms-5 lim"><li>{{lgs | safe}}</li></div>
{% endfor %}
</div>
</section>