<section class="cv-section">
<header class="cv-section-header">
<h2 class="cv-title-work"><span><strong>
{{cv.data.data.languages.title}}
</strong></span></h2>
</header>
<div class="cv-item">
{% for lg in collections.languagescv | reverse %}
<span class="cv-basic-info-item"><strong>{{lg.data.title}}</strong></span>
<div class="cv-item-content p-3 ms-5 lim">{{ lg.templateContent | safe }}</div>
{% endfor %}
</div>
</section>