<section class="cv-section">
<header class="cv-section-header">
<h2 class="cv-title-work"><span><strong>
{{service.title}}
</strong></span></h2>
</header>
<div class="cv-item">
{% for srv in service.text %}
<span class="cv-basic-info-item"><strong>{{ srv.title |safe }}</strong></span>
{% for sv in srv.list %}
<div class="cv-item-content p-1 ms-5 lim"><ul><li>{{ sv.title |safe }}
{% for yv in sv.content %}{% if yv.text %}<ul class="ms-5"><li>{{ yv.text | safe }}</li></ul>{% endif %}{% endfor %}
</li></ul></div>
{% endfor %}
{% endfor %}
</div>
</section>