<section class="cv-section">
<header class="cv-section-header">
<h2 class="cv-title-work"><span><strong>
{{service.title}}
</strong></span></h2>
</header>
<div class="cv-item">
{% for srv in service.text %}
<span class="cv-basic-info-item"><strong>{{ srv.title |safe }}</strong></span>
{% for sv in srv.list %}
<div class="cv-item-content p-3 ms-5 lim"><ul><li>{{ sv |safe }}</li></ul></div>
{% endfor %}
{% endfor %}
</div>
</section>