<section class="cv-section">
<header class="cv-section-header">
<h2 class="cv-title-work"><span><strong>
{{skills.title}}
</strong></span></h2>
</header>
<div class="cv-item">
<span class="cv-basic-info-item"><strong>
{{skills.title}}
</strong></span>
{% for sk in skills.text %}
<div class="cv-item-content p-1 ms-5 lim"><ul><li>{{ sk |safe }}</li></ul></div>
{% endfor %}
</div>
</section>