<section class="cv-section">
<header class="cv-section-header">
<h2 class="cv-title-work"><span><strong>
{{teaching.title}}
</strong></span></h2>
</header>
<div class="cv-item">
{% for teach in teaching.text %}
<span class="cv-basic-info-item"><strong>{{ teach.title | safe }}</strong></span>
{% for th in teach.list %}
<div class="cv-item-content p-3 ms-5 lim"><ul><li>{{ th |safe }}</li></ul></div>
{% endfor %}
{% endfor %}
</div>
</section>