<section class="cv-section">
<header class="cv-section-header">
<h2 class="cv-title-work"><span><strong>
{{training.title}}
</strong></span></h2>
</header>
<div class="cv-item">
<span class="cv-basic-info-item"><strong>{{training.title}}</strong></span>
{% for tgs in training.text %}
<div class="cv-item-content p-3 ms-5 lim"><ul><li>{{tgs | safe}}</li></ul></div>
{% endfor %}
</div>
</section>