---
layout: layouts/base.njk
---
{%- css %}{% include "public/css/print.css" %}{%- endcss %}
<div class="container-fluid bg-white text-dark">
<div class="col-md-10 mx-auto p-3 p-md-5">
<div class="cv resume-section p-3">
{% include "widget/cv/styling.njk" %}
{% include "widget/cv/header.njk" %}
{% include "widget/cv/education.njk" %}
{% include "widget/cv/skills.njk" %}
{% include "widget/cv/exams.njk" %}
{% include "widget/cv/teach.njk" %}
{% include "widget/cv/experience.njk" %}
{% include "widget/cv/activites.njk" %}
{% include "widget/cv/service.njk" %}
{% include "widget/cv/publication.njk" %}
{% include "widget/cv/scholar.njk" %}
{% include "widget/cv/colabs.njk" %}
{% include "widget/cv/presentation.njk" %}
{% include "widget/cv/award.njk" %}
{% include "widget/cv/training.njk" %}
{% include "widget/cv/lang.njk" %}
{% include "widget/cv/as.njk" %}
{% include "widget/cv/technical.njk" %}
</div>
</div>
</div>