---
layout: layouts/base.njk
---
{% include "widget/design/header.njk" %}
{% include "widget/design/style.njk" %}
{% include "widget/design/thumb.njk" %}
<div class="p-3 col-md-10 mx-auto">
{{content|safe}}
</div>
</div>
</div>
{% include "widget/design/scripting.njk" %}