---
layout: layouts/base.njk
---
{% include "widget/gallery/header.njk" %}
{% include "widget/gallery/style.njk" %}
{% include "widget/gallery/thumb.njk" %}
<div class="p-3 col-md-10 mx-auto">
{{content|safe}}
</div>
</div>
</div>
{% include "widget/gallery/scripting.njk" %}