{% include "widget/head.njk" %}
{% include "widget/home/header.njk" %}
{% include "widget/home/project.njk" %}
{% include "widget/home/blog.njk" %}
{% include "widget/home/form.njk" %}
{% include "widget/search.njk" %}
{% include "widget/footer.njk" %}