---
layout: layouts/base.njk
---
{%- css %}{% include "public/css/print.css" %}{%- endcss %}
{% include "widget/info/header.njk" %}
{% include "widget/info/folks.njk" %}
{% include "widget/info/findme.njk" %}
{% include "widget/info/skill.njk" %}
{% include "widget/info/contact.njk" %}
{% include "widget/info/experience.njk" %}
{% include "widget/info/form.njk" %}











